*{
    font-family: "Anton", sans-serif;
    font-size: 22px;
 
}

#menu {
width: 100%;
font-family: Roboto Mono;
}

a {
 display: block
}
#menu ul {
margin: 0px;
padding: 0px;
display: flex;
justify-content: space-between;

}


#menu li {
list-style-type: none;
display: inline-block;
border-width: 1px
}



#menu a:link {
color:black;
text-decoration: none;
display: block;
line-height: 35px;
padding: 5px 15px;
}

#menu a:visited {
color:black;
text-decoration: none;
display: block;
background:   #0000ff;
line-height: 35px;
padding: 5px 15px;
}


#menu a:hover {
color: #fff;
background:   #2667ff;
}

#menu a:active {
color: black;
background:   #2667ff;
}

hr{
    width: 100%;
    height: 0.1px;
}

.nav__second, .nav__first{
border-radius: 24px;
text-decoration: none;
}

.first{
    text-decoration: none;
    font-size: 30px;

}
.first a:link, a:active, a:hover, a:visited{
color:black;
text-decoration: none;
}
.dropbtn{
border-radius: 24px;
text-decoration: none;
}

.dropbtn a:hover{
    background-color:   #2667ff;


}


.logo{
    display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto 80%;
  padding: 10px;
}

.nav{
    display: flex;
    justify-content: flex-end;
    position:absolute;
    top: 10px;
}


h1{
    font-family:"Graphik",sans-serif;
font-size: 37px;
}
p{
    font-family:"Georgia", serif;
font-size: 20px;
}
/*problem*/
.pic{
    display: block;
    border-style: 1px solid black;
}

.pict{
    position: absolute;
      left: 4%;
      top: 9%;
}
.name{
    font-family:"Georgia", serif;
font-size: 14px;
}
.number{
     font-family:"Arial", san-serif;
font-size: 50px;
}
#block{
display: flex;
justify-content: space-around;

}

.main{
    position:static;
    width:65%;
}

footer{
    position:static;
}

.end{
    display: grid;
    grid-template: 150px / auto auto auto;
  grid-gap: 10px;
  padding: 10px;
    background-color: #242424;
    color: white;
}

#line{
    display: grid;
grid-area: 2 / 1 / span 2 ;
    width:453%;
}
#logo{
    display: grid;
 grid-template:auto auto auto;
}

.social{
    position: relative;
    top:20px;
    display: grid;
     grid-template-columns: auto auto auto;
}










.dropbtn {
  color: #2980B9;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  width: 54px;
  height: 54px;
}

.dropup {
  position: fixed;
  display: inline-block;
  bottom:40px;
  right:30px;
color:red;
}

.dropup-content {
  display: none;
  position: fixed;
  min-width: 50px;
  bottom: 50px;
  z-index: 1;
  right:20px;
  font-size: 25px;

}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {
    background-color: #fff;
}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: #2980B9;
}
.social a {
    text-align: center;
    width: 40px;
    height: 40px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 25px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}

.twitter a:hover {background: #00acee; color: #fff;}
.instagram a:hover {background:  #E1306C; color: #fff;}
.facebook a:hover {background: #3b5998; color: #fff;}
.skype a:hover {background: #00aff0; color: #fff;}
.vk a:hover {background: #5d84ae; color: #fff;}
.telegram a:hover {background: #249bd7; color: #fff;}
.whatsapp a:hover {background: #50b154; color: #fff;}

.pic-animation {
   position: relative;
   width: 500px;
   height: 400px;
   background: url(on.jfif); 
   animation: slide 10s infinite;
   border-radius: 10px;
   display: flex;
   justify-content: flex-end;
}

@keyframes slide {
   25% {
      background: url(on4.jpg);
   }

   50% {
      background: url(on2.jpg);
   }

   75% {
      background: url(on3.jpg);
   }

   100% {
      background: url(on.jfif);
   }

}



.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button {
  width: 400px;
  height: 200px;
  margin: 5px;
  font-family: 'Krona One', sans-serif;
  font-size: 16px;
  color: rgba(255,255,255,0.9);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: 300ms;
}

.cyan {
    background: #4733ff;
    box-shadow: 0px 5px #389cb5, 0px 10px 10px rgba(0,0,0,0.25);
  z-index: -1;
}

.magenta {
    background: #ffe7e7;
    box-shadow: 0px 5px #a23ca6, 0px 10px 10px rgba(0,0,0,0.25);
}

.yellow {
    background: #def2d9;
    box-shadow: 0px 5px #aba232, 0px 10px 10px rgba(0,0,0,0.25);
}

.black {
    background: #434037;
    box-shadow: 0px 5px #292929, 0px 10px 10px rgba(0,0,0,0.25);
}

button:hover {
  transform: translateY(5px);
    box-shadow: 0px 0px transparent, 0px 5px 10px rgba(0,0,0,0.25);
}

button:focus {
  outline: none;
}

.dropbtn {
    background-color: #4733ff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(51, 42, 222);
}


.dropdown {
    position: relative;
    display: inline-block;
 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #4733ff;}

.show {display: block;}
.animation  video[data-v-1c7ea23d]{
  width: 40%;
  position: absolute;
  right: 30px;
  top: 285px;
  height: 55%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-mask-image: url(data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 224 208' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M223.545 36.526c0 6.117-4.746 11.877-13.117 16.918 8.371 5.041 13.117 10.801 13.117 16.918 0 6.118-4.747 11.879-13.119 16.92 8.372 5.042 13.119 10.803 13.119 16.92 0 6.117-4.746 11.877-13.117 16.919 8.371 5.041 13.117 10.801 13.117 16.918 0 6.117-4.746 11.878-13.118 16.919 8.372 5.042 13.118 10.802 13.118 16.92 0 19.838-49.92 35.92-111.5 35.92S.545 191.716.545 171.878c0-6.118 4.747-11.878 13.12-16.92-8.373-5.041-13.12-10.802-13.12-16.919 0-6.117 4.747-11.877 13.117-16.918C5.293 116.079.545 110.319.545 104.202c0-6.117 4.748-11.878 13.12-16.92C5.293 82.241.545 76.48.545 70.362c0-6.117 4.747-11.876 13.117-16.918C5.293 48.403.545 42.643.545 36.526c0-19.839 49.92-35.92 111.5-35.92s111.5 16.081 111.5 35.92z' fill='%23fff'/%3E%3C/svg%3E);
  mask-image: url(data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 224 208' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M223.545 36.526c0 6.117-4.746 11.877-13.117 16.918 8.371 5.041 13.117 10.801 13.117 16.918 0 6.118-4.747 11.879-13.119 16.92 8.372 5.042 13.119 10.803 13.119 16.92 0 6.117-4.746 11.877-13.117 16.919 8.371 5.041 13.117 10.801 13.117 16.918 0 6.117-4.746 11.878-13.118 16.919 8.372 5.042 13.118 10.802 13.118 16.92 0 19.838-49.92 35.92-111.5 35.92S.545 191.716.545 171.878c0-6.118 4.747-11.878 13.12-16.92-8.373-5.041-13.12-10.802-13.12-16.919 0-6.117 4.747-11.877 13.117-16.918C5.293 116.079.545 110.319.545 104.202c0-6.117 4.748-11.878 13.12-16.92C5.293 82.241.545 76.48.545 70.362c0-6.117 4.747-11.876 13.117-16.918C5.293 48.403.545 42.643.545 36.526c0-19.839 49.92-35.92 111.5-35.92s111.5 16.081 111.5 35.92z' fill='%23fff'/%3E%3C/svg%3E);
}